.logo-reset-container img {
    width: 275px;
    margin: auto;
    margin-bottom: 50px;
}

.resetPassword-container {
    width: 80%;
    margin: auto;
    /* background-color: #00000036; */
    border-radius: 6px;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.resetPassword-container h2 {
    margin-bottom: 20px;
}

.resetPassword-form input {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0;
    padding-left: 5%;
    color: #132653;
    background-color: #ffffff;
    border: 0px;
    border-radius: 6px;
    font-size: 18px;
}

.resetPassword-form input::placeholder {
    font-weight: normal;
    color: #132653;
    font-size: 16px;
}

.resetPassword-container .button {
    width: 100%;
    margin-top: 10px;
}

.password-container {
    position: relative;
}

.password-container img {
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    position: absolute;
}

.alertErr {
    background-color: #ee9099;
    color: #881420;
    padding: 10px;
    margin-top: 25px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    font-weight: 500;
}

.alertErr.show {
    opacity: 1;
}

@media screen and (min-width: 550px) {
    .resetPassword-container {
        width: 40%;
        padding-top: 150px;
        margin-left: 44%;
    }
}

@media screen and (min-width: 1024px) {
    .resetPassword-container {
        width: 30%;
        margin-left: 44%;
    }

    .password-container input {
        width: 100%;
    }

    .logo-reset-container img {
        width: 320px;
    }
}